@import '../../../../theme/constants';
// ********** Control variables *********************
$background-color: $blue;
$button-color: $darkBlue;
$hover-color: $lightBlue!important;
$active: $white;
$height: 75px;
$toggle-border-color: $white!important;
$bar-color: $white;
$hamburger-background: lighten($blue, 10%)!important;
$collapse-border-color: $white;

// ********** The full navbar *********************
.navbarDefault {
  @include border-radius(0);
  height: $height;
  background-color: $background-color!important;
  border: none!important;
  margin-bottom: 0;
}
// ********** Navbar Header consists in mobile button and brand image *********************
.navbarHeader {
  height: $height;
  position: relative;
}
.navbarBrand {
  margin-left: 0!important;
  padding: 0;
  @extend .vCenter;
  @extend .icon-sprites;
  @include sprite($sprites-logo_pool);
  left: 0;
}
.toggleButton{
  @extend .vCenter;
  margin: 0;
  right: 15px;
  border-color: $toggle-border-color!important;
  .iconBar{
    background-color: $bar-color!important;
  }
  &:hover, &:focus{
    background-color: $hamburger-background;
  }
}
// ********** Navbar Collapse contains the elements that will hide when on mobile size *********************
.navbarCollapse{
  float: right;
  border: none;
  padding-right: 0;
  padding-left: 0;
  background: $background-color;
}
.navbarNav {
  >li{
    height: $height;
  }
}
.navbarNavAnchor {
  font-family: $fontA;
  font-weight: 300;
  padding-top: 0!important;
  padding-bottom: 0!important;
  font-size: 14px;
  color: $button-color;
  text-transform: uppercase;
  @extend .vCenter;
  &:hover {
    color: $hover-color;
    background-color: transparent!important;
  }
}
.navbarIcons {
  margin: 0;
  position: absolute;
  height: $height;
  right: 0;
  padding: 0;
  li{
    height: $height;
    position: relative;
    display: inline-block;
    list-style: none;
  }
}
.sm_icon {
  @extend .vCenter;
  right: 0;
}
.facebook {
  @extend .icon-sprites;
  @include sprite($sprites-facebook_icon);
  @extend .sm_icon;
}
@media#{$isTablet}{
  .navbarBrand{
    left: 15px;
  }
  .navbarNav {
    margin-right: 10px!important;
  }
  .navbarBrand {
    left: 15px;
  }
  .navbarIcons{
    position: relative;
    float: right;
  }
}
@media#{$isPhone}{
  .navbarBrand{
    left: 15px;
  }
  .navbarCollapse{
    position: relative;
    z-index: 1000;
    float: none;
    border-bottom: 1px solid $collapse-border-color;
    border-top: 2px solid $collapse-border-color;
    li {
      height: auto;
      padding: 15px 0;
    }
  }
  .navbarNavAnchor{
    position: relative;
    @include transform(translateY(0));
    top: 0;
  }
  .navbarNav {
    float: none!important;
    margin: 0;
    position: relative;
  }
  .navbarIcons{
    display: none;
  }
}
