@import '../../../../theme/constants';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

$height: 75px;
.navbarDefault {
  @include border-radius(0);
  height: $height;
  background-color: $blue!important;
  border: none!important;
  margin-bottom: 0;
}
// ********** Navbar Header es botón móvil y brand *********************
.navbarHeader {
  height: $height;
  position: relative;
}
.navbarBrand {
  margin-left: 0!important;
  padding: 0;
  @extend .vCenter;
  @extend .icon-sprites;
  @include sprite($sprites-logo_pool);
  left: 0;
}
.toggleButton{
  @extend .vCenter;
  margin: 0;
  right: 15px;
  border-color: $white!important;
  .iconBar{
    background-color: $white!important;
  }
  &:hover, &:focus{
    background-color: lighten($blue, 10%)!important;
  }
}
// ********** Navbar Collapse es la sección que contiene los links que se ocultarán en móvil *********************
.navbarCollapse{
  float: right;
  border: none;
  padding-right: 0;
  padding-left: 0;
  background: $blue;
}
.navbarNav {
  >li{
    height: $height;
  }
}
.navbarNavAnchor {
  font-family: 'Open Sans';
  font-weight: 300;
  padding-top: 0!important;
  padding-bottom: 0!important;
  font-size: 14px;
  color: $darkBlue!important;
  text-transform: uppercase;
  @extend .vCenter;
  &:hover {
    color: $lightBlue!important;
    background-color: transparent!important;
  }
}
.navbarIcons {
  margin: 0;
  position: absolute;
  height: $height;
  right: 0;
  padding: 0;
  li{
    height: $height;
    position: relative;
    display: inline-block;
    list-style: none;
  }
}
.sm_icon {
  @extend .vCenter;
  right: 0;
}
.facebook {
  @extend .icon-sprites;
  @include sprite($sprites-facebook_icon);
  @extend .sm_icon;
}
@media#{$isTablet}{
  .navbarBrand{
    left: 15px;
  }
  .navbarNav {
    margin-right: 10px!important;
  }
  .navbarBrand {
    left: 15px;
  }
  .navbarIcons{
    position: relative;
    float: right;
  }
}
@media#{$isPhone}{
  .navbarBrand{
    left: 15px;
  }
  .navbarCollapse{
    position: relative;
    z-index: 1000;
    float: none;
    border-bottom: 1px solid $white!important;
    border-top: 2px solid $white!important;
    li {
      height: auto;
      padding: 15px 0;
    }
  }
  .navbarNavAnchor{
    position: relative;
    @include transform(translateY(0));
    top: 0;
  }
  .navbarNav {
    float: none!important;
    margin: 0;
    position: relative;
  }
  .navbarIcons{
    display: none;
  }
}
