@import './helpers';
@import './mixins';
@import './sprite';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Teko');

$blue: #205dff;
$darkBlue: #00398c;
$lightBlue: #c0d4ff;
$white: #fff;
$black: #000;
$darkGray: #161616;
$gray: #6d6e71;

$fontA: 'Open Sans', sans-serif;
$fontB: 'Teko';

$isLaptop: "only screen and (min-width: 1024px)";
$isTablet: "only screen and (min-width: 768px) and (max-width: 1023px)";
$isPhone: "only screen and (max-width: 767px)";
