@import '../../../../theme/constants';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
.mainBanner{
  background-color: $blue;
  height: 550px;
  margin-top: 75px;
  position: relative;
  h1{
    @extend .fCenter;
    color: $white;
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: center;
    margin: 0;
  }
}


@media#{$isTablet}{
}
@media#{$isPhone}{
}
